<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Web Based Stcok Market Predition in Real Time </title>
		<link rel="stylesheet" href="../static/style.css">
	</head>



	<body>
		<div >
			<form action="/predict" method = "POST">
				<input type="text" name="companysymbol" placeholder="Enter company ticker symbol" class = "searchbox">
				<input type="submit" name="Search"  class="submit">
			</form>
			<a href="/"><h1>Web Based Stock Market Prediction in Real Time</h1></a>
			<marquee class = "bottombar">Stock values are subjected to market risk. Prediction is based on machine learning models and sentimental analysis. Please invest at your own risk.</marquee>
		</div>
	</body>

</html>